{{ define "main" }}
  <div class="blog-card-grid">
    {{ range .Paginator.Pages }}
      <article class="blog-card">
        <h2 class="blog-card-title">
          <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
        </h2>
        <div class="blog-card-meta">
          {{ partial "docs/post-meta" . }}
        </div>
        <div class="blog-card-summary">
          {{- .Summary | plainify | truncate 256 -}}
        </div>
        <p class="blog-card-link">
          <a href="{{ .RelPermalink }}">Read post</a>
        </p>
      </article>
    {{ end }}
  </div>
{{ end }}

{{ define "toc-container" }}
<aside class="book-toc">
  <div class="book-toc-content">
    {{ template "toc" . }}
  </div>
</aside>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/pagination.html" . }}
{{ end }}
